# fly.toml app configuration file generated for receptionai-relay on 2026-01-24T19:38:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'receptionai-relay'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile.relay'

[env]
  HOST = '0.0.0.0'
  NODE_ENV = 'production'
  PORT = '8080'

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.ports]]
    port = 80
    handlers = ['http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '10s'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
